#Generaled classes

*.class

# Package Files
*.jar
*.war

#Eclipse
*.project
*.classpath
*.settings

#Maven
target/*
.idea/
*.iml

#Gradle
.gradle
build/*

#Docker
/docker/*
!/docker/docker-compose.yml
!/docker/docker-compose-all.yml

#log
*.log