#Generaled classes

*.class

# Package Files
*.war

#Eclipse
*.project
*.classpath
*.settings

#Maven
target/*
.idea/
*.iml

#Gradle
.gradle
build/*
!build/libs/

#Docker
docker/
!docker/docker-compose.yml